@Styles.Render("~/Content/css")
<div class="layui-form layui-form-pane1" action="" lay-filter="first">
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">月份</label>
        <div class="layui-input-inline">
            <input type="text" name="月份" id="月份" lay-verify="required" placeholder="请输入月份" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请务必填写月份</div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">上班天数</label>
        <div class="layui-input-inline">
            <input type="number" name="天数" lay-verify="required" placeholder="请输入天数" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">请务必填写天数</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="sub">立即提交</button>
            <button onclick="parent.layer.closeAll()" class="layui-btn layui-btn-primary">关闭</button>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/layui")
<script type="text/javascript">
    layui.use(['element', 'jquery', 'layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var element = layui.element;

        form.on("submit(sub)", function (obj) {//submit(login) 表示只对带有 lay-submit lay-filter="login" 的起作用
            var adddata = obj.field;
            var edit = '@Html.Raw(ViewBag.Info)' ? 1 : 0;
            $.ajax({
                type: "POST",
                data: {
                    adddata: adddata,
                    edit: edit
                },
                url: "@Url.Action("Add")",
                dataType: 'json',
                success: function (result) {
                    if (result.Success)//验证成功
                    {
                        layer.msg(result.Message, { icon: 1, time: 1000 }, function () {
                        parent.layer.closeAll(); //关闭页面
                        });
                    }
                    else
                    {
                        layer.msg(result.Message, { icon: 5, time: 1000 });
                    }

                },
                })
        })
        var Info = '@Html.Raw(ViewBag.Info)';
        var jsonPos = null;
        if (Info) {
            jsonPos = JSON.parse(Info);
        }
        if (jsonPos != null)
        {
            $("#月份").attr("disabled", "disabled");//刘文涵
            $("#月份").attr("class", "layui-input layui-disabled");//刘文涵
            form.val("first", jsonPos);
        }
    })
</script>