@{
    Layout = "~/Views/Shared/_Layout_1.cshtml";
    ViewBag.Title = "主页";//刘文涵
}

<style>
    .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
        transform: translateY(20%);
    }
</style>

<div class="layui-body main-body">
    <div class="current-location">
        <span>当前位置：</span>
        <span>自助服务</span>
    </div>
    <div style="padding:10px">
        <div class="layui-card">
            <div class="layui-card-header">公司信息</div>
            <div class="layui-card-body">
                <ul class="layui-row layui-col-space10 layui-this">
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>公司名称</h3>
                            <p><cite>山海集团</cite></p>
                        </a>
                    </li>
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>注册资金</h3>
                            <p><cite>1000万</cite></p>
                        </a>
                    </li>
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>员工数量</h3>
                            <p><cite>12435</cite></p>
                        </a>
                    </li>
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>成立时间</h3>
                            <p><cite>2010-5-26</cite></p>
                        </a>
                    </li>
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>公司地址</h3>
                            <p><cite>北京中关村</cite></p>
                        </a>
                    </li>
                    <li class="layui-col-md2">
                        <a class="backlog-body">
                            <h3>市值</h3>
                            <p><cite>3亿</cite></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">软件信息</div>
            <div class="layui-card-body" style="line-height:35px">
                <p style="font-size:20px;color:#009688">欢迎使用人事工资管理系统
                <p>当前版本：V1.0.0</p>
                <p>开发人员：刘文涵</p>
                <p>就读院校：山东大学(威海)</p>
                <p>更新日期：2020-05-26</p>
                <p>联系qq：1114068569</p>
                <p>联系电话：17860978826</p>
            </div>
        </div>
    </div>
</div>


@section Scripts{

}